/* Body CSS - Main CSS */
body {
    background-color: rgb(255, 255, 255);
    margin: 5% 10%;
    border: rgb(255, 255, 255);
    border-width: 10px;
}
.movie-container{
    display: block;
}
.movie-generator {
    margin:auto;
    box-shadow: -30px 30px 20px rgba(0, 0, 0, 0.3);
    background-color:rgb(161, 175, 189);
    padding: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 100px;
    margin-left: 20%;
}
.movie-title{
    text-shadow: 1px 1px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.movie-block{
    width:80%;
}
.button-div{
    margin:auto;
    position: relative;
    text-align: center;
}
.post-new{
    background-color: white;
    padding-left: 20px;
}
p{
    color:white;
    text-align: left;
}
h1{
    text-align:center;
}
h2 {
    text-shadow: 1px 1px black;
    color: white;
    text-align: left;
    padding: 10px;
}
h3{
    text-shadow: 1px 1px rgb(43, 213, 255);
    color: white;
    text-align: left;
}
.poster{
    width: 60%;
    margin-bottom: -24px;
    float: left;
    margin: 20px;
}

.buttons {
    position: relative;
    display: flex;
    justify-content: center;
}

.post-container{
    width:100px;
    align-items: center;
    position: relative;
    text-align: center;
    margin:auto;
}



/* Logo CSS */
.title {
    text-align: center;
    color:rgb(161, 175, 189);
    text-decoration: underline;
    /* -webkit-text-stroke-width: 1px; */
    /* -webkit-text-stroke-color: burlywood; */
    position: relative;
    align-content: center;
    margin-top: -100px;
    padding-bottom: 50px;
    text-shadow: 2px 2px rgb(118, 205, 255);
    font-size: 50px;
    
    
}

#review-box{
    margin-bottom: 10px;
    width: 100px;
}


/* Images CSS */
#first_movie_image{
    width: 35%;
    height: 35%;
}

#filmRoll{
    background: transparent;
    width:15%;
    height:15%;
    margin-left: 80%;
    
}

#thumbsUpPic{
    width: 25px;
    height: 25px;
    border:none;
}
#thumbsDownPic{
    width: 25px;
    height:25px;
}
.like-button{
    font-size:15px;
    width:60px;
    margin: 20px;
    color:black;
}
.dislike-button{
    font-size: 15px;
    width:60px;
    color:black;
}